#title {
  background-color: rgb(27, 44, 159);
}

.container-fluid{
  padding: 3% 15%;

}

h1 {
  font-family: 'inter', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.5;
  color:white;

}

h2{ 
  font-family: "roboto condensed";
  font-size: 1.5rem;
  font-weight: bold;
  color:white;
}

h3{ 
  font-family: 'inter';
  font-weight: bold;

}

p{
  color:#8f8f8f;
}

.navbar{ 
  padding: 0 0 4.5rem; 
}

.navbar{ 
  padding-bottom:4.5rem;
}

.navbar-brand{
  font-family:'roboto condensed';
  font-size: 4rem;
  font-weight: bold;
}

.nav-item{ 
padding:0 18px;
}

.nav-link{ 
  font-family:'inter';
  font-size: 1.2rem;
}

.download-button{ 
margin: 5% 3% 5% 0;

}

.coverimage{ 
  width: 80%;
  top: -30px;
  left: -50px;
}

#foundations{
  padding: 7% 15%;
  background-color:#fff;
}

.foundations-box{
  text-align: center;
  padding:5%;
}

.icon{ 
color:rgb(27, 44, 159);
margin-bottom: 1rem;
font-size: 7rem;
}

.icon:hover{ 
  color:rgb(0, 0, 0)
}

#projects{
  padding: 7% 15%;
  text-align: center;
  background-color: rgb(27, 44, 159);
  color:white;
}

.carousel-item{
  padding: 7% 15%;
}

.Projects-image{
  width: 20%;
  border-radius: 50%;
  margin:10px;
}

#press{
  background-color:rgb(27, 44, 159);
text-align: center;
}

.press-logo{
  width: 10%;
  margin: 20px 20px 50px;
}
#jobs{
  padding: 100px;
  text-align: center;
}

.jobs-header{
  color:black;
  font-size: 2.5rem;
  font-family: 'inter';
  font-weight: bold;
}

.jobs-column{
  padding: 3% 2%;
}

#skills{
  background-color:rgb(27, 44, 159);
  padding: 7% 15%; 
  text-align: center;
  font-weight: bold;
  color:white;
}

.skills-heading{
font-family: 'inter';
font-weight: bold;
font-size: 3rem;
line-height: 1.5;
text-align: center;
}

#skills-text{
    color:white;
    font-size: 1.5rem;
    text-align: center;
    font-size: 1.5rem;
}
#footer{
  padding: 7% 15%;
  text-align: center;
}

.social-icon{
  margin: 20px 10px;
  font-size: 2rem;
}

@media (max-width: 1028px){

  #title {
    text-align:center;
  }
  .title-image{
    position:static;
    transform: rotate(0);
  }
}

